<!DOCTYPE html>
<head>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title> {{ title }} </title>
</head>

<body>
    <div class="navbar">
        <a href="#home">Главная</a>
        <a href="#contact">Контакты</a>
        <div class="headzd">       
            <p>Железнодорожная информационно-справочная система</p>
         </div>
        <a href="#logout" class="logout">Выход</a>
      </div>

    <div class="header">
        <h1>Железнодорожная информационно-справочная система</h1>
      </div>
      <div class="container">
            <form class="search-form">
                <input type="text" placeholder="Введите станцию отправления">
                <input type="text" placeholder="Введите станцию назначения">
                 <button type="submit">Найти поезда</button>
            </form>
        <div class="results">
          <!-- Здесь будут результаты поиска -->
        </div>
      </div>
</body>

</html>

<!-- горячее выделение alt+w -->
<!-- alt + лкм - мультикурсор -->
<!-- target="_blank" - переход на новую страницу при клике-->