<!DOCTYPE html>
<head>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title> {{ title }} </title>
</head>

<body>
    <h1> HTML </h1>
    

    <a href="https://vk.com/dont_touch_me_ever" target="_blank"> Разработчик *тык*</a>

    <a href="/main" target="_blank"> Переход на main.html</a>
</body>

</html>

<!-- горячее выделение alt+w -->
<!-- alt + лкм - мультикурсор -->